/* GALLERY LAYOUT */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.thumbnail-container {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		margin: 0 0.5rem;
		width: 150px;
		aspect-ratio: 50 / 43 !important;
	}
	a:last-of-type {
		margin-bottom: 1.5rem;
	}
	img {
		width: 150px;
		aspect-ratio: 50 / 43 !important;
	}
	p {
		text-align: center;
		line-height: 1.2;
	}
	.title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
	.project-title {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 768px) {
	.grow-rotate {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	.thumbnail-container:hover .grow-rotate,
	.thumbnail-container:focus .grow-rotate,
	.thumbnail-container:active .grow-rotate {
		-webkit-transform: scale(1.05) rotate(2deg);
		transform: scale(1.05) rotate(2deg);
	}
	.thumbnail-container:hover .read-more,
	.thumbnail-container:focus .read-more,
	.thumbnail-container:active .read-more {
		color: $secondary-color;
	}
	.pageContainer {
		display: flex;
	}
	.gallery {
		justify-content: left;
	}
	.gallery a:last-of-type {
		text-align: left;
	}
	.gallery div {
		margin: 0 1rem 0 0;
	}
	.galleryContainer {
		width: auto;
		flex-shrink: 2;
		width: 75%;
	}
}