@use 'variables' as *; 

.featured-projects {

	padding: 6rem 0;
	@media only screen and (min-width: 768px) {
		padding: 9rem 0;
	}

	.content {
		grid-column: 3 / 24;
		align-self: flex-end;
	}

	.projects-container {
		grid-column: 3 / 25;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		min-height: 550px;
	}

	.inner-container {
		display: flex;
		gap: 20px;
		width: max-content;
		@media only screen and (min-width: 768px) {
			padding-right: 5rem;
		}
	}

	.view-all {
		background-color: $white;
		color: $black;
		font-family: 'GeneralSans-Bold', Arial, sans-serif;
		font-size: 1em;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
	    align-items: flex-end;
	    text-align: center;
	    margin-right: 2rem;
	    width: 3rem;
	    cursor: pointer;
	    transition: background-color 0.3s, color 0.3s;
	    @media only screen and (min-width: 768px) {
	    	margin-right: 5rem;
	    	font-size: 1.5rem;
	    	width: 5rem;
	    }
	    &:hover {
	    	background-color: $black;
			color: $white;
			transition: background-color 0.3s, color 0.3s;
	    }
		.view-all-container {
			transform: rotate(-90deg);
		    white-space: nowrap;
		    position: relative;
		    bottom: 3rem;
			@media only screen and (min-width: 768px) {
				bottom: 5.5rem;
			}
		}
	}

}

.montage {

	@media only screen and (min-width: 622px) {
		display: grid;
		grid-template-columns: 56.81% 43.19%;
	}

	.everton {
		aspect-ratio: 818 / 553;
		width: 100%;
		position: relative;
	}

	.wcb {
		aspect-ratio: 818 / 471;
		width: 100%;
		position: relative;
	}

	.united {
		aspect-ratio: 625 / 366;
		width: 100%;
		position: relative;
	}

	.ftctc {
		aspect-ratio: 622 / 301;
		width: 100%;
		position: relative;
	}

	.city {
		aspect-ratio: 622 / 358;
		width: 100%;
		position: relative;
	}

	.montage-image {
		width: 100%;
		display: block;
		transform: scale(0.7);
		transition: transform 0.5s, opacity 0.5s;
		opacity: 0;
		&.active {
			transform: scale(1);
			transition: transform 0.5s, opacity 0.5s;
			opacity: 1;

		}
	}

	.montage-col-1 {
		@media only screen and (min-width: 622px) {
			grid-column: 1 / 2;
		}
	}

	.montage-col-2 {
		@media only screen and (min-width: 622px) {
			grid-column: 2 / 3;
		}
	}
}

.client-logos {
	padding: 6rem 0;
	@media only screen and (min-width: 768px) {
		padding: 9rem 0;
	}

	.content {
		grid-column: 3 / 23;
		align-self: flex-end;
	}

	.logo-container {
		aspect-ratio: 1 / 1;
		width: 100%;
		position: relative;
	}

	.logos-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 3rem;
		padding: 3rem 3rem 0;
		@media only screen and (min-width: 500px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media only screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			column-gap: 5rem;
			padding: 5rem 5rem 0;
		}
		@media only screen and (min-width: 1300px) {
			column-gap: 10rem;
		}
	}

	.client-logo {
		align-self: center;
		width: 100%;
		// filter: drop-shadow(0 0 0.5rem #000000);
		transform: scale(0.7);
		transition: transform 0.5s, opacity 0.5s;
		opacity: 0;
		&.active {
			transform: scale(1);
			transition: transform 0.5s, opacity 0.5s;
			opacity: 1;

		}
	}

}