@use 'variables' as *; 

nav {
	position: absolute;
	top: 1rem;
	left: 0;
	right: 0;

	.nav-container {
		grid-column: 3 / 23;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	a {
		color: $white;
		text-decoration: none;
		margin: 0 0.5rem 0 0;
		&.selected {
			text-decoration: underline;
		}
		@media only screen and (min-width: 768px) {
			margin: 0 2rem 0 0;
		}
	}

	.social-links a {
		margin-right: 0;
	}

}
