@font-face {
  font-family: 'GeneralSans-Extralight';
  src: url('/fonts/general-sans/GeneralSans-Extralight.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-Extralight.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-ExtralightItalic';
  src: url('/fonts/general-sans/GeneralSans-ExtralightItalic.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-ExtralightItalic.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('/fonts/general-sans/GeneralSans-Regular.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-Regular.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-Italic';
  src: url('/fonts/general-sans/GeneralSans-Italic.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-Italic.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('/fonts/general-sans/GeneralSans-Bold.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-Bold.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-BoldItalic';
  src: url('/fonts/general-sans/GeneralSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/general-sans/GeneralSans-BoldItalic.woff') format('woff'),
       url('/fonts/general-sans/GeneralSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/libre-baskerville/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/libre-baskerville/libre-baskerville-v14-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/libre-baskerville/libre-baskerville-v14-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/libre-baskerville/libre-baskerville-v14-latin-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/libre-baskerville/libre-baskerville-v14-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/libre-baskerville/libre-baskerville-v14-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}



